<nav class="navbar" style="color: #ffffff;">
  <span id="loggedUser">
    <h3>Welcome {{user.[0].fullName}}!</h3>
  </span>
  <h2>Zone Management</h2>
  <input id="logout" type="submit" class="btn bg-green" value="Logout" />
</nav>
<br>
<div class="container">

  <div class="row">
    {{#each user}}
    <div class="col-md-4">
      <div class="card mb-2">
        <h4 class="card-header text-center">{{'Devices.Zones.zoneName'}}</h4>
        <img class="card-img-top" src={{'Devices.Zones.imageURL'}} alt="Lawn Zone Image">
        <div class="card-body">

          <button type="button" class="btn btn-sm btn-success onOffBtn" data-rachio-zoneid="{{'Devices.Zones.rachioZoneId'}}"
            data-zoneid="{{'Devices.Zones.id'}}" data-rachio-deviceid="{{'Devices.rachioDeviceId'}}" data-deviceid="{{'Devices.id'}}"
            data-isRunning="false">Turn On</button>

          <button type="button" class="btn btn-sm btn-primary detailBtn" data-zoneid="{{'Devices.Zones.id'}}"
            data-toggle="collapse" data-target="#{{'Devices.Zones.id'}}" aria-expanded="false" aria-controls="collapseExample">Details</button>

        </div>
        <div class="collapse card-body" id="{{'Devices.Zones.id'}}">

          <p id="{{'Devices.Zones.id'}}-details"></p>

        </div>
      </div>
    </div>
    {{/each}}

  </div>
</div>
</div>

<script src="/js/zones.js" type="text/javascript"></script>
<script src="/js/profile.js" type="text/javascript"></script>